<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Peeplr</title>

    @*Preloading business rules*@
    <script type="text/javascript">
        window.preloaded = {};
        window.preloaded.numberTypes = @Html.Raw(Json.Encode(Peeplr.Main.BusinessRules.Number.AllowedNumberTypes));
    </script>

    @*Stylin'*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="~/Assets/Styles/site.css" rel="stylesheet" />

    @*Application dependencies*@
    <script src="~/Scripts/lib/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="~/Scripts/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>

    @*Application logic*@
    <script src="~/Scripts/internal/app.js"></script>
    <script src="~/Scripts/internal/controllers.js"></script>
    <script src="~/Scripts/internal/repositories.js"></script>

</head>
<body>
    <div class="container peeplr-main-container">
        <div class="header">
            <h1><a href="/#/"><span class="glyphicon glyphicon-user"></span>Peeplr <small>A quick 'n dirty contact list app.</small></a></h1>
        </div>
        
        <div ng-app="peeplrApp">
            @*Fixing typeahead templates*@
            @{Html.RenderPartial("Typeahead_templateFix");}
            <div ng-view></div>
        </div>
        <hr />
        <div class="footer">
            Made by JureGS
        </div>
    </div>
</body>
</html>
